<h2>Edit Cat</h2>

  <form action="<%=cats_url%>" method="POST">
    <input type="hidden" name="_method" value="patch">
  <label for="name">Name:
    <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  <br>
  <label for="birth_date">Age:
    <input id="birth_date" type="text" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  </label>
  <br>
  <label for="gender">Gender:
    <input id="sex" type="text" name="cat[sex]" value="<%= @cat.sex %>">
  </label>
  <br>
  <label for="color">Color:
    <input id="color" type="text" name="cat[color]" value="<%= @cat.color %>">
  </label>
  <br>
  <label for="description">Description:
    <input id="description" type="text" name="cat[description]" value="<%= @cat.description %>">
  </label>
  <br>
  <input type="submit" value="Update Cat">
</form>
